.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    height: 50px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-contact {
    margin: 10px 0;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    height: 30px;
}

.footer-newsletter {
    margin: 10px 0;
}

.footer-newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-newsletter input {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.footer-newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-newsletter button:hover {
    background-color: #777;
}